@model Incident
@{
    ViewData["title"] = "Edit Incident";
}

<h3>Edit Incident/@ViewBag.Action</h3>
    <p>Technician Name:     @Model.Technician.Name</p>
    
    @*   <div class="form-group my-2">
        <label class="form-label" >Technician Name: </label>
        <input type="text" readonly="true" class="form-control"
            value="@Model.Technician.Name" />
    </div> *@

        <div class="form-group my-2">
        <label class="form-label" >Customer Name: </label>
        <input type="text" readonly="true" class="form-control" 
               value="@Model.Customer?.FullName" />
    </div>

        <div class="form-group my-2">
        <label class="form-label">Product Name: </label>
        <input type="text" readonly="true" class="form-control"
               value="@Model.Product.Name" />
    </div>

        <div class="form-group my-2">
        <label class="form-label" >Title: </label>
        <input type="text" readonly="true" class="form-control" asp-for="Title"  value="@Model.Title" />
    </div>

        <div class="form-group my-2">
        <label class="form-label" >Date Open: </label>
        <input type="text" readonly="true" class="form-control" 
             asp-for="DateOpened"  value="@Model.DateOpened" />
    </div>


<form asp-action="Save" asp-controller="Incident" method="post">
    <input type="hidden" asp-for="TechnicianID" value="@Model.TechnicianID" />
    <input type="hidden" asp-for="CustomerID" value="@Model.CustomerID"/>
    <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
    <input type="hidden" asp-for="Title" value="@Model.Title.ToString()" />
    <input type="hidden" asp-for="DateOpened" value="@Model.DateOpened" />
    <div class="form-group my-2">
          <label class="form-label" asp-for="Description">Description: </label>
          <input class="form-control" asp-for="Description"/>
    </div>
    
    <div class="form-group mt-3 my-2">
        <label class="form-label" asp-for="DateClosed">Date Closed: </label>
        <input class="form-control" asp-for="DateClosed" />
    </div>


    <input type="hidden" asp-for="IncidentID"/>
    <div class="form-group mt-3 my-2">
        <button class="btn-primary btn" type="submit">Save</button>

        <a class="mx-3 btn btn-primary" asp-controller="Incident"
           asp-action="TechniciansSelectList">Cancel</a>
    </div>
    
</form>

