@{

    string ActiveNavMenu(string? clicked = "")
    {
        string? currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
        return (clicked == currentController) ? "active" : " ";

    }

    string? message = TempData["message"]?.ToString(); 
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="/">SportsPro</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link @ActiveNavMenu("Home")" 
                         asp-controller="Home" asp-action="Index">Home</a>

                    <a class="nav-item nav-link @ActiveNavMenu("Product")" 
                         asp-controller="Product" asp-action="List">Products</a>

                    <a class="nav-item nav-link @ActiveNavMenu("Technician")" 
                        asp-controller="Technician" asp-action="List">Technicians</a>

                    <a class="nav-item nav-link @ActiveNavMenu("Customer")" asp-controller="Customer" asp-action="List">Customers</a>

                    <a class="nav-item nav-link @ActiveNavMenu("Incident")"
                       asp-controller="Incident" asp-action="List">Incidents</a>

                    <a class="nav-item nav-link @ActiveNavMenu("Registration")"
                       asp-controller="Registration" asp-action="GetCustomer">Registrations</a>

                </div>
                <div class="navbar-nav navbar-end">
                    <a class="nav-item nav-link @ActiveNavMenu("About")" asp-controller="Home" asp-action="About">About</a>
                </div>
            </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-5">
            @if (!String.IsNullOrEmpty(message))
            {

                <h2 id="customMessage" 
                    class="alert text-center alert-success bg-gradient p-2 my-1">
                    @message.ToUpper()
                </h2>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">&copy; @DateTime.Now.Year - SportsPro</div>
    </footer>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*   script for the TempData[message] to hide the message in seconds *@
    <script>
        var messageTimer = setTimeout(function()
        {
            $('customMessage').hide();
        }, 6500)
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

