@model ProductListViewModel

@{

    ViewBag.Title = ViewBag.Action;
    // sets the selected menu into active 
    string ActiveNavMenu(string action = "")
    {


        //gets the current action
        var currentAction = @ViewBag.Action;

        /* ViewContext.RouteData.Values["id"].ToString();
        */
        return (action == currentAction ) ? "active" : "";
    }

    
}






<div class="container-fluid ">

    <div class="row justify-content-center">
    <div class=" col-2">

        <ul class="nav flex-column nav-pills gap-1 text-center">

            <li class="nav-item">
                    <a class="@Model.CheckActiveCategory(0) nav-link border border-2 border-primary"
                asp-controller="Product" asp-action="List"
                    asp-route-id=""
                        >
                    All
                </a>
            </li>

            @foreach(var cat in Model.Categories)
            {
            <li class="nav-item">
                <a class="@Model.CheckActiveCategory(cat.CategoryID) nav-link border border-2 border-primary"
                    asp-controller="Product" asp-action="List" 
                    asp-route-id="@cat.CategoryID" 
                    asp-route-slug="@cat.Slug">
                    @cat.CategoryName
                </a>
            </li>
            }
        
        </ul>
                
            
    </div>

        <div class="col-8 ">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Product product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price.ToString("c")</td>

                        @* product View Details button   *@
                            <td class="text-center text-primary">
                                <a asp-controller="Product" asp-action="Details" class=" btn  myBTN"
                                   asp-route-id="@product.ProductID" asp-route-Slug="@product.Slug">View Details</a>
                        </td>

                        @* product Add to cart button   *@
                        <td class="text-center">
                            <a asp-controller="Product" asp-action="Cart" class="btn myBTN"
                                   asp-route-id="@product.ProductID" asp-route-Slug="@product.Slug">Add To Cart</a>
                        </td>
                    </tr>
            
                }
            </tbody>
        </table>

</div>

    </div>
</div>




