@{
    string ActiveNav(string action, string area = null)
    {
        string currentAction = ViewContext.RouteData.Values["Action"].ToString();
        string currentArea = ViewContext.RouteData.Values["Area"]?.ToString();
        return (action == currentAction && area == currentArea) ? "active" : "";

    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebsite.styles.css" asp-append-version="true" />
</head>
<body class="m-0 d-block">
    
        <div class="container ">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 mr-auto mr-5">
                <a class="navbar-brand mr-auto" asp-controller="Home" asp-action="Index">My Website</a>

                <button class="navbar-toggler" type="button"
                             data-toggle="toggle" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
         
                    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav " >
                            <a class="nav-item nav-link @ActiveNav("Index")"
                                asp-controller="Home"
                                asp-action="Index"
                                asp-area="">Home</a>
                        </div>

                        <div class="navbar-nav ">
                            <a class="nav-item nav-link @ActiveNav("About")"
                               asp-controller="Home"
                               asp-action="About"
                               asp-area="">About</a>
                        </div>

                        <div class="navbar-nav ">
                            <a class="nav-item nav-link @ActiveNav("Contact")"
                               asp-controller="Home"
                               asp-action="Contact"
                               asp-area="">Contact</a>
                </div>
              
                        

                
                    </nav>
            <div class="navbar-nav mr-5 ">
                <a class="nav-item nav-link @ActiveNav("Index", "Help")"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-area="Help">Help</a>
            </div>
        </nav>

    @*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyWebsite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
      
        <header class="mb-2">
            @RenderSection("header")
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyWebsite 
        </div>
    </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
